/* Some basic CSS overrides */
body {
    line-height: 1.5;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    justify-content: center;
    background-color: #060606;
}

button,input,select,textarea {
    font: inherit;
}

a {
    color: inherit;
}

/* End basic CSS override */
.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    width: 90%;
    max-width: 300px;
    background-color: #1b2028;
    border-radius: 16px;
    position: relative;
    border: 3px solid transparent;
    background-clip: padding-box;
    text-align: center;
    color: #f1f3f3;
    background-image: linear-gradient(135deg,
            rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1) 15%, #1b2028 20%, #1b2028 100%);
}

* {
    box-sizing: border-box;
    color: #2aa15f;
}

body {
    margin: 0;
    font-family: poppins, Arial, Helvetica, 
    sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #faf4f4;
    background: #eaeff4;
}

.wrapper {
    margin: 0 auto;
    /*width: 100%;*/
    max-width: 1140px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
}



.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 5px #999999;
}

.login .col-left,
.login .col-right {
    padding: 30px;
    display: flex;
}

.login .col-left {
    width: 50%;
    clip-path: polygon (00, 0% 100%, 100% 0);
    background: #2aa15f;
}

.login .col-right {
    padding: 60px 110px;
    width: 50%;
    margin-left: -10%;
}

.login.login-text {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.login.login-text h2 {
    margin: 15px 0;
    font-size: 30px;
    font-weight: 700;
}



.login.login-text p {
    margin: 20px 0;
    font-size: 16px;
    font-weight : 500;
    line-height: 22px;

}


.login.login-text .btn {
    font-family: poppins;
    padding: 7px 20px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
    color: #ffffff;
}

.login.login-text .btn:hover {
    color: #2aa15f;
    box-shadow: inset 150px 0 0 0 #e0e6e2;
}

.login.login-form {
    position: relative;
    width: 100%;
}

.login.login-form h2 {
    margin: 15px 0;
    font-size: 22px;
    font-weight: 700;
}

.login.login-form p {
    margin: 10px 0;
    text-align: left;
    color: #666666;
    font-size: 15px;
}

.login.Login-form p:last-child {
    margin: 0;
    padding-top: 3px;
}

.login login-form p a {
    color: #2aa15f;
    font-size: 14px;
    text-decoration: none;
}

.login.Login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}

login login-form p:last-child label {
    width: 60%;
    float: left;
}

.login.login-form label span {
    color: #ff574e;
    padding-left: 2px;
}

.login login-form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}

.login.login-form input:focus {
    border-color: #ff574e;
}

.login.Login-form button,
.login.Login-form input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: #2aa15f;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #2aa15f;
    border-radius: 30px;
    box-shadow: inset #2aa15f;
    transition: .35;
}
